//Required Bootstrap Components
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

//Addtional Bootstrap Components
@import "../../node_modules/bootstrap/scss/modal";

//bootstrap modal modifications start
.modal {
    background-color: rgba(255, 255, 255, 0.4);
}
.modal-open .modal {
    overflow-y: hidden;
}
.modal-dialog {
    max-width: unset;
}
.modal-content {
    background-color: unset;
    border: none;
    background-clip: unset;
    border-radius: unset;
}
.modal-body {
    padding: 0;
}
.modal-footer {
    justify-content: space-between;
    border-top: none;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
}
//bootstrap modal modifications end

@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
// @import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/tables";
// @import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/dropdown";
// @import "../../node_modules/bootstrap/scss/button-group";
// @import "../../node_modules/bootstrap/scss/input-group";
// @import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
// @import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/pagination";
// @import "../../node_modules/bootstrap/scss/badge";
// @import "../../node_modules/bootstrap/scss/jumbotron";
// @import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// @import "../../node_modules/bootstrap/scss/media";
// @import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
// @import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/utilities";
// @import "../../node_modules/bootstrap/scss/print";

//document font style
@font-face {
    font-family: "nimbus";
    src: url("../assets/font/NimbusSanL-Reg-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "nimbus";
    src: url("../assets/font/NimbusSanL-Bol-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

// Color Variables
$color-base: #003049;
$color-base-light: #00567a;
$color-base-dark: #000d14;
$color-gray: #e3e3e3;
$color-gray-light: #ffffff;
$color-gray-dark: #cdcdb6;

//set default font
body {
    font-family: "nimbus", sans-serif, serif;
}

//ensure the content of the modal stays 100% of the viewport height
.modal > .container-xl {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.modal > .container-xl > .modal-content {
    height: 100%;
}

//importing custom scss files
@import "./loading";
@import "./error";
@import "./wrapper";
@import "./mainContainer";
@import "./navbar";
@import "./backdrop";
@import "./buttons";
@import "./footer";
@import "./intro";
@import "./skills";
@import "./projects";
@import "./popup";
@import "./about";
@import "./dragScroll";
